@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
$color-alpha: #b78846;



body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* background: black; */
  height: 100vh;
  width: 100vw;
}

span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  color: #3e0f96;
  font-size: 124px;
  letter-spacing: 8px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

span::before {
  content: "LEAGUE HUB";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

span::after {
  content: "LEAGUE HUB";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

span:hover:before {
  top: 10px;
  left: 10px;
}

span:hover:after {
  top: -10px;
  left: -10px;
} 

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-image: url(./Images/worldslogo2.jpg);
  background-size: cover; */
}

#home {
  background-image: url(./Images/worldslogo2.jpg);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-color: black;
  box-shadow: 0 0 5px 8px black;
  
}
 
#champions {
  background-image: url(./Images/worldslogo.jpg);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-color: black;
  box-shadow: 0 0 5px 8px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  
} 

.champCard {
  border: none;
  border-radius: 10px;
}

.container {
  
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-container {
  /* display: flex;
  justify-content: center;
  list-style: none; */
  width: 50vw;
  height: 60vh;
  /* background: black ; */
  border-radius: 10px;
  /* border-color: black; */
  
}


.card {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
  border-radius: 10px;
  /* border-color: black; */
}

.card-container:hover .card {
  transform: rotateY(180deg);

}


.card .front{
  background: black;
  color: white;
  font-size: 12px 4vw;
  justify-items: center;
  border-radius: 10px;
  border-color: black;


}

.card .back{
  background: black;
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
  border-color: black;
  border-color: black;
  

}

.card figure{
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  border-radius: 10px;
  border-color: black;
  

}




#ranked {
  background-image: url(./Images/worldslogo3.png);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-color: black;
  box-shadow: 0 0 5px 8px black;
  -webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
  box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

#nav-bar {
  background-color: black;
  height: 40px;
  width: 100%;
  
  
}

#nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-decoration-color: white;

}

#footer {
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

#logo {
  height: 20vh;
  width: 20vh;
}

.search {
  display: flex;
  align-items:flex-start;
  justify-content: center;
  flex-direction: row;

}

